* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.2;
    z-index: 1;
}

.hero-section{
    width: 100%;
    height: 400px;
    background-color: black;
    z-index: 2;
    opacity: 30;
}